name: Build docker image 

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build docker image

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Log into Docker Hub Registry
        if: ${{ vars.DOCKER_HUB_USERNAME != '' }}
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Log into GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Images
        uses: docker/build-push-action@v6
        id: build
        with:
          context: .
          # If you add new platforms, amend the Dockerfile!
          platforms: linux/amd64,linux/arm64,linux/ppc64le,linux/s390x,linux/386,linux/arm/v7,linux/riscv64
          push: true
          tags: ghcr.io/${{ github.repository }}:latest

      - name: Push image to Docker Hub registry
        if: ${{ vars.DOCKER_HUB_USERNAME != '' && vars.DOCKER_HUB_REPOSITORY != '' }}
        run: |
          docker buildx imagetools create \
            --tag docker.io/${{ vars.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_HUB_REPOSITORY }}:latest \
            ghcr.io/${{ github.repository }}:latest

      # second ghcr URL is ONLY because I had published under that URL for over a year.. :(
      - name: Push image to compatibility Github Container Registry
        if: ${{ github.actor == 'cdwiegand' }}
        run: |
          docker buildx imagetools create \
            --tag ghcr.io/cdwiegand/go-curling/go-curling:latest \
            ghcr.io/cdwiegand/go-curling:latest
