name: Go Tests

on: 
  push:
  schedule:
  - cron: '0 0 * * 0'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.x'
          check-latest: true
      - name: Install dependencies
        run: go get .
      - name: Build
        run: go build -v ./...
      - name: Test go-curling
        run: go test ./...
      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: ./...